<%# <h1>Stupid Coaching</h1>

<div class="banner">
  <p> <%= @question %> </p>
  <%# <p>- You</p>
</div>

<div class="banner">
  <p> <strong> <%= @answer %> </strong> </p>
  <%# <p>- Your coach</p> 
</div> %>

<%# <%= link_to "Ask another question", ask_path %>

<div class="container">
  <h1>Stupid Coaching</h1>
  <blockquote>
    <div class="bq-content">
      <h3><%= @question %></h3>
      <p>-- You</p>
    </div>
  </blockquote>
  <blockquote>
    <div class="bq-content">
      <h3><%= @answer %></h3>
      <p>-- Your Coach</p>
    </div>
  </blockquote>
  <hr/>
  <p><%= link_to "Ask another question", ask_path %></p>
</div>